// Basic Colors & Color Palette
$white: #FFF;
$black: #262626;
$light-grey: #FAFAFA;

$red: #E62116;
$green: #70D07F;
$orange: #EA6E13;
$blue: #136EEA;
$yellow: #FFA700;
$purple: #B813EA;

// ********************************* //
// ** Colors to style the website ** //
// ********************************* //
$primary-color: $black;
$secondary-color: $black;

$font-color: $black;

// Theme colors with good contrast
$dark-color: $black;
$light-color: $light-grey;

// Gradients