// Basic Colors & Color Palette
$white: #FFF;
$black: #000;

// # 1
$dark-blue: #261C64;
$light-blue: #E7E6F7;
$soft-pink: #E3D0D8;
$soft-dark-pink: #AEA3B0;

// # 2
$mustard: #FFC857;
$gunmetal-brown: #22333B;
$gunmetal-blue: #282F44;
$dark-gunmetal: #191D32;
$blue-de-france: #2892D7;

// # 3
$bright-turquoise: #0AFFC8;
$rose-white: #FFF7F7;
$mystic: #DADADA;
$midnight-blue: #204969;

// ********************************* //
// ** Colors to style the website ** //
// ********************************* //
$primary-color: $bright-turquoise;
$secondary-color: $midnight-blue;

$font-color: $black;

// Theme colors with good contrast
$dark-color: $midnight-blue;
$light-color: $rose-white;

// Gradients